/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.houses {
  &__inner {
    @extend .flex;
  }
  &__item {
    flex-basis: 50%;
    margin-bottom: 60px;
  }
}