/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  font-family: 'Kameron', 'Noto Serif JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// mobile用のフォントサイズ設定
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}

// mobile用のmargin-bottomの設定
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}

// mobile用のpadding-bottomの設定
.pb-sm {
  margin-bottom: 16px !important;
}
.pb-lg {
  margin-bottom: 80px !important;
}

// 横幅の設定
.content-width {
  width: 90%;
  margin: 0 auto;
  // 横幅の最大値を1070pxまでに設定
  max-width: $contentMaxWidth;
}

// main-titleの設定
.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

// sub-titleの設定
.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}

.flex {
  display: flex;
  flex-direction: column;
}

// housesの設定
.houses {
  @extend .content-width;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}
